<main class="w-full h-[783px] bg-[url('/assets/img/banner1.svg')] bg-cover bg-center bg-no-repeat">
  <div class="container mx-auto">
    <div class=" py-[102px]">

      <!--slide 1 is here-->
      <div class="container justify-end text-white space-y-[30px] ">
        <h2 class="text-[40px] font-[800px]">Join Service</h2>
        <p class="text-[14px] font-[600px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
          ut aliquip ex ea commodo consequat.</p>
        <div>
          <a class="text-white" routerLink="/e-church"><button class="bg-[#fc0404] rounded-2xl px-4 py-2" 
            type="button">E-church</button></a>
        </div>
      </div>
    </div>
  </div>
</main>
